<h2>Category & Subcategory List</h2>
<table class="tablesorter" style='width: 900px;'>
  <thead>
    <tr>
      <th>Category</th>
      <th>Subcategory</th>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody class="list_view">
    <% Category.all.each { |category_records| %>
    <tr>
      <td><%=category_records.category%></td>
      <td><%=category_records.subcategory%> </td>
      <td><a href="edit/<%=category_records.id%>">Edit</a></td>
      <td></td>
    </tr>
    <% } %>
  </tbody>
</table>