<script type="text/javascript" src="/js/local/consumption.js" > </script>
<script type="text/javascript" src="/js/local/category_change.js" > </script>
<link type="text/css" href='/css/purchase.css' rel="stylesheet"/>

<h2>New Consumption</h2>

<form action="Consumption/new" method="POST" id="consumptionForm">
  <table id="consumption">
    <tr>
      <td>Date</td>
      <td>For Unit</td>
      <td>User</td>
    </tr>
    <tr>
      <td><input type="text" name="consumeDate" id="consumeDate" size="10"/> </td>
      <td><input type="text" name="forUnit" id="forUnit" size="10"/> </td>
      <td><input type="text" name="user" id="user" size="10"/> </td>
    </tr>
  </table>
  <hr />
  <table id="consumption_details">
    <tr>
      <td>SL</td>
      <td>Category</td>
      <td>Subcategory</td>
      <td>Products</td>
      <td>Quantity</td>
    </tr>
    <tr id="consumption_template" style="display: none">
      <td><input type="text" class="sl" name="sl" id="sl" size="1" maxlength="3" /></td>
      <td>
        <%=select_category_partial ""%>
      </td>
      <td>
        <select id="subcategory" class="subcategory" name="subcategory">
          <option></option>
        </select>
      </td>
      <td><select id="itemName" class="itemName" name="itemName">
          <option></option>
        </select>
      </td>
      <td><input type="text" class="quantity" name="quantity" id="quantity" size="10"/> </td>
    </tr>
    <tfoot>
      <tr>
        <td colspan="2"><input type="submit" name="submit" id="submit" size="10"/> </td>
      </tr>
    </tfoot>
  </table>
</form>