<script type="text/javascript" src="/js/local/purchase.js" > </script>
<script type="text/javascript" src="/js/local/category_change.js" > </script>
<script type="text/javascript" src="/js/jquery/jquery.numeric.js" > </script>
<link type="text/css" href='/css/purchase.css' rel="stylesheet"/>

<h2>New Purchase</h2>

<form action="/purchase/new" method="POST" id="purchaseForm">
  <table id="purchase">
    <tr>
      <td>Bill Date</td>
      <td>Bill NO</td>
      <td>Suppliers</td>
      <td>G R Date</td>
      <td>D E By</td>
<%#*<td>D E Date</td>%>
    </tr>
    <tr>
      <td><input type="text" name="billDate" id="billDate" size="10" /> </td>
      <td><input type="text" name="billNo" id="billNo" size="10" /> </td>
      <td><select id="supplierName" name="supplierName">
          <optgroup label="Select a Supplier"></optgroup>
          <option></option>
          <% Supplier.all.each {|supplier| %>
            <option> <%=supplier.name%> </option>
          <%  } %>
        </select></td>
      <td><input type="text" name="grDate" id="grDate" size="10" /> </td>
      <td><input type="text" name="deBy" id="deBy" size="10" /></td>
<%#*removed because current date is used as dedate%>
<%#*<td><input type="text" name="deDate" id="deDate" size="10" /> </td>%>
    </tr>
  </table>
  <hr />
  <table id="purchase_details">
    <tr>
      <td>SL</td>
      <td>Unit</td>
      <td>Category</td>
      <td>Subcategory</td>
      <td>Products</td>
      <td>Quantity</td>
      <td>Rate</td>
      <td>Tax Amount</td>
      <td>Amount</td>
    </tr>
    <tr id="details_template" class ="details_template" style="display: none">
      <td><input type="text" class="sl" id="sl" size="1" maxlength="3" /></td>
      <td><select id="forUnit" class="forUnit" name="forUnit">
          <optgroup label="Select a Unit"></optgroup>
          <option></option>
          <% Unit.all.each {|unit| %>
            <option> <%=unit.name%> </option>
          <%  } %>
        </select>
      </td>
      <td>
        <%=select_category_partial ""%>
      </td>
      <td>
        <select id="subcategory" class="subcategory" name="subcategory">
          <option></option>
        </select>
      </td>
      <td><select id="itemName" class="itemName" name="itemName">
          <option></option>
        </select>
      </td>
      <td><input type="text" class="quantity" id="quantity" size="10" /> </td>
      <td><input type="text" class="rate" id="rate" size="10" /> </td>
      <td><input type="text" class="tax_amount" id="tax_amount" size="10" /> </td>
      <td><input type="text" class="amount" id="amount" size="10" /> </td>
    </tr>
  </table>

  <input style="height: 45px; width: 160px; margin-top: 20px; margin-left: 5px;" type="submit" id="savePurchase" value="Save Purchase" size="10" />
  
  <table id="submit_and_total" style="margin-left: 100px; float: right">
    <tr>
      <th>Total</th>
      <td><input type="text" id="total" class="total"  name="total" size="10" /> </td>
    </tr>
    <tr>
      <th>CESS Amount</th>
      <td><input type="text" id="cess_amount" class="cess_amount"  name="cess_amount" size="10" /></td>
    </tr>
    <tr>
      <th>Grand Total</th>
      <td><input type="text" id="grand_total" class="grand_total"  name="grand_total" size="10" /></td>
      <td><a href="#" id="edit_control">Unlock</a> </td>
    </tr>
  </table>
</form>