<h2>Supplier List</h2>
<table class="tablesorter" style='width: 900px;'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% Supplier.all.each { |supplier| %>
    <tr>
      <td><%=supplier.name%></td>
      <td><%=supplier.address%> </td>
      <td><a href="edit/<%=supplier.id%>">Edit</a></td>
    </tr>
    <% } %>
  </tbody>
</table>