<form action="/category/save" method="post">
  <%unless @category_id.blank?%>
    <h2>Edit Category & Subcategory</h2>
    <input type="hidden" name="category_id" value="<%=@category_id%>"/>
  <%else%>
    <h2>Create New Category & Subcategory</h2>
  <%end%>
  <table class="data_input">
    <tbody>
      <tr>
        <td>Category :</td>
        <td><input type="text" name="category" id="category" value="<%=@category%>" /> </td>
      </tr>
      <tr>
        <td>Subcategory :</td>
        <td><input type="text" name="subcategory" id="subcategory" value="<%=@subcategory%>"/> </td>
      </tr>
    </tbody>
  </table>
  <br />
  <button type="submit">Save</button>
</form>